server:
 port: 8765

spring:
  application:
    name: store-api-gateway
  cloud:
    gateway:
      mvc:
        routes:
          - id: store
            uri: lb://store
            predicates:
              - Path=/store/**
            filters:
              - StripPrefix=1

          - id: store-user
            uri: lb://store-user
            predicates:
              - Path=/users/**
            filters:
              - StripPrefix=1
    discovery:
      locator:
        enabled: true  # opcional, para criar rotas automaticamente

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
 client:
  service-url:
   defaultZone: http://localhost:8761/eureka
